<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .article-banner {
      width: 800px;
      height: auto;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      .article-banner {
        width: 800px;
        height: auto;
      }
    }

    @media (min-width: 769px) {
      .article-banner {
        width: 800px;
        height: auto;
      }
    }
  </style>
</head>
<body>
  <div class="card-simple">
    {{ $item := . }}

    {{/* Dynamic view adjusts to content type. */}}
    {{ $has_attachments := partial "functions/has_attachments" . }}

    {{/* Get summary. */}}
    {{ $summary := "" }}
    {{ if $item.Params.summary }}
      {{ $summary = $item.Params.summary | markdownify | emojify }}
    {{ else if .Params.abstract }}
      {{ $summary = .Params.abstract | markdownify | emojify }}
    {{ else if $item.Summary }}
      {{ $summary = $item.Summary }}
    {{ end }}

    {{ if eq $item.Type "event" }}
    <div class="article-metadata">
      {{ if $item.Params.authors }}
      <div>
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ end }}
      <span>
        {{ partial "functions/get_event_dates" $item }}
      </span>
      {{ with $item.Params.location }}
      <span class="middot-divider"></span>
      <span>{{ . }}</span>
      {{ end }}
    </div>
    {{ else }}
      {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
    {{ end }}

    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
    {{ with $resource }}
    {{ $image := .Fill "400x200" }}
    <a href="{{ $item.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" alt="{{ $item.Title }}" loading="lazy">
    </a>
    {{ end }}

    <div class="section-subheading article-title mb-1 mt-3">
      <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>
    </div>

    {{ with $summary }}
    <a href="{{ $item.RelPermalink }}" class="summary-link">
      <div class="article-style">
        <p>{{ . }}</p>
      </div>
    </a>
    {{ end }}

    {{ if $has_attachments }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  </div>
</body>
</html>
